<h1>Game Python V.1.0</h1>
<%= button_to 'New game', games_path, turbo_method: :post %>

<div>
  <ul>Це класична гра пітон (змія). Пітон (oooooS) повзає по полю, збирає яблука ( @ ) та росте. Може зіткнутися з перешкодою ( # ).</ul>
  <ul>Зараз розмір поля статичний: 130x27</ul>
  <ul>Рух відбувається за допомогою клавіш - стрілочок.</ul>
  <ul>Частота оновлення 0.3 секунд.</ul>
  <ul>ESCAPE - вихід з гри.</ul>
  <ul> Ви програєте, якщо:
    <li>Вийдете за межі поля</li>
    <li>Голова стикнеться з тілом</li>
    <li>Голова стикнеться з перешкодою</li>
  </ul>

  <ul>По закінченню гри буде вказата причина програшу, та ви вийдете на головну сторінку.</ul>
  <ul></ul>
  <ul>Плани на майбутне:
    <li>Оформлення за допомогою Bootstrap.</li>
    <li>Розмір поля задає користувач.</li>
    <li>Додавання статистики гри.</li>
    <li>Додавання яблук.</li>
    <li>Додвання рівней складності.</li>
    <li>Реєстрація гравців та збереження їх статистики.</li>
    <li>Дві мови, українська та англійська.</li>
    <li>Можливість грати на мобільних пристроях</li>
  </ul>
</div>
