<h3>Игра: Змейка</h3>

<%= button_to 'Обновить (tick)', game_path(@game), method: :patch %>

<div data-controller="game" data-game-game-id-value="<%= @game.id %>">
  <div id="field">
    <%= render partial: "games/field", locals: { field: @game.field_array, count: @game.count } %>
  </div>
</div>